<div>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Edit Products | E-Shopper</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/price-range.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <!--/head-->
    <h2 class="text-center">Edit Products</h2>

    <body>
        <header id="header">
            <!--header-->
            <div class="header_top">
                <!--header_top-->
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!--/header_top-->

            <div class="header-middle">
                <!--header-middle-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 clearfix">
                            <div class="logo pull-left">
                                <a href="index"><img src="images/home/logo.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-8 clearfix">
                            <div class="shop-menu clearfix pull-right">
                                <ul class="nav navbar-nav">
                                    <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                                    <li><a href="checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                    <li><a href="cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                    <li><a href="login"><i class="fa fa-lock"></i> Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/header-middle-->
            <form action="/product/saveeditproduct/{{product.id}}?_method=PUT" method="post">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Product Name</label>
                        <textarea type="text" class="form-control" name="productname" rows="1"
                            value={{productname}}id="formGroupExampleInput" placeholder="Enter product name">{{product.productname}}</textarea>
                    </div>
                    {{!-- Practical 10 Exercise 01 --}}
                    <input type="file" id="posterUpload" name="posterUpload"
                        accept="image/png, image/jpeg,image/jpg,image/gif">
                    {{!—- Poster image --}}
                    <img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid"
                        style="height:95%;width:100%">
                    {{!—- Hidden field to submit URL of poster to the server --}}
                    <input id="posterURL" type="hidden" name="posterURL">
                    {{!-- Practical 10 Exercise 01 --}}
                    <div class="font-weight-bold text-danger small" id="posterErr" style="display:none"></div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Product Description</label>
                        <textarea type="text" class="form-control" name="description" rows="7" value={{description}}
                            id="formGroupExampleInput" placeholder="Enter product description" required>{{product.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Product price</label>
                        <textarea type="text" class="form-control" name="price" rows="1" value={{price}}
                            id="formGroupExampleInput" placeholder="Enter product price" required>{{product.price}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>