<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<head>
    <title>Edit Quiz Data</title>
</head>
<div class="container">
    <div class="card card-body">
        <h3>Edit Questions</h3>
        <form action="/user/editQuiz/{{quizzes.id}}?_method=PUT" method="post">
            <div class="row"> {{!—- row 1--}}
                <div class="col-lg-12">
                    <div class="form-group">
                        {{!—- Title --}}
                        <label class="font-italic" for="question">Question</label>
                        <textarea class="form-control" id="question" name="question" rows="1"
                            onblur="ProperCase('question')">{{quizzes.question}}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="font-italic" for="choiceA">Choice A</label>
                        <textarea class="form-control" id="choiceA" name="choiceA" rows="1">{{quizzes.choiceA}}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="font-italic" for="choiceB">Choice B</label>
                        <textarea class="form-control" id="choiceB" name="choiceB" rows="1">{{quizzes.choiceB}}</textarea>
                    </div>
                     <div class="form-group">
                        <label class="font-italic" for="choiceC">Choice C</label>
                        <textarea class="form-control" id="choiceC" name="choiceC" rows="1">{{quizzes.choiceC}}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="font-italic" for="correct">Correct Answer</label>
                        <textarea class="form-control" id="correct" name="correct" rows="1">{{quizzes.correct}}</textarea>
                    </div>
                </div>
            </div>
            <br>
            <button id="butAddQuiz" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>